<footer>
    <div class="footer-info">
        <h4>Shipping and delivery</h4><br>
        <a href='/myaccount'>Your account</a><br>
        <a>How to place an order</a> <br>
        <a>Shipping</a><br>
        <a>30-days return policy</a><br>
    </div>
    <div class="footer-info">
        <h4>Contact</h4><br>
        <a>Our showrooms</a><br>
        <a>Contact us online</a><br>
        <a></a><br>
        <a></a><br>
    </div>
    <div class="footer-info">
        <h4>Support</h4><br>
        <a>24/7 support</a><br>
        <a>Return a product</a><br>
        <a>Repair a product</a><br>
        <a>F.A.Q.</a><br>
    </div>
    <div class="footer-info">
        <h4>Sell on onlinestore.</h4><br>
        <a href="/signup-seller">Become our partner</a><br>
        <a href="/manage-products">Manage your products</a><br>
        <a></a><br>
        <a></a><br>
    </div>
    <div id="copyright">Copyright &copy;2018  onlinestore. </div>
</footer>