<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "header&footer.css">
        <link rel = "stylesheet" type = "text/css" href = "body.css">
    </head>
    <body>
        <%- include partials/header.ejs %>
        <div class="content-container" style="height: 450px;">
            <h2>Sorry, page not found. Make sure you enter a valid url and try again.</h2>
        </div>
        <%- include partials/footer.ejs %>
    </body>
</html>